legacy/
__pycache__/
.conda
.env
.DS_Store
chat_history/
knowledge_base/*
!knowledge_base/README.md
api_keys.py
memory.db
memory.db.bk
lab.py
llm/user_credentials.json
openapi_assistants.json
openapi_memgpt.json
