pyyaml
requests
websocket-client
python-dotenv==1.0.0
transformers
rich
loguru
numpy
pydub
sounddevice
soundfile
playsound3
scipy
onnxruntime
openai
fastapi
uvicorn[standard]
groq
edge-tts
httpx
faster_whisper
chardet