requests~=2.32.3
websocket-client~=1.8.0
python-dotenv==1.0.0
transformers~=4.45.2
rich~=13.9.2
loguru~=0.7.2
numpy~=2.0.2
pydub~=0.25.1
sounddevice~=0.5.1
soundfile~=0.12.1
playsound3~=2.2.2
faster_whisper
scipy~=1.14.1
onnxruntime~=1.19.2
openai~=1.52.0
fastapi~=0.115.2
uvicorn[standard]
groq~=0.11.0
edge-tts
httpx~=0.27.2

torch~=2.5.0
faster-whisper~=1.0.3
openai-whisper~=20240930
PyYAML~=6.0.2
numba~=0.60.0
starlette~=0.40.0
melo~=1.1.0
pyttsx3~=2.98
gradio_client~=1.4.0
torchaudio~=2.5.1