body {
  background-image: url("./bg/cityscape.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.top-left {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1001;
}

#wsStatus {
  background-color: #f44336;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 5px;
}

#wsStatus.connected {
    background-color: #4caf50;
}

#stateDisplay {
  background-color: #005f7f;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  margin-bottom: 5px;
  pointer-events: none; /* Makes the button unclickable */
}

#wsUrl {
  padding: 5px;
  width: 200px;
}

.bottom-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
}

.fixed-bottom {
  width: 100%;
  background-color: rgba(33, 33, 33, 0.8);
  color: white;
  text-align: left;
  padding: 1em;
  box-sizing: border-box;
  max-height: 30vh;
  overflow-y: auto;
  font-size: 2em;
  line-height: 1.4;
}

.control-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  background-color: rgba(33, 33, 33, 0.8);
  width: 100%;
  box-sizing: border-box;
}

.control-buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  /* background-color: #008CBA; */
  background-color: #005f7f;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.control-buttons button:hover {
  background-color: #009fd4;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* Styles for the dropdown lists */
select {
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
  cursor: pointer;
}

select:focus {
  outline: none;
  border-color: #005f7f;
}

.sensitivity-container {
    display: inline-flex;
    align-items: center;
    background-color: rgba(0, 95, 127, 0.8);
    padding: 5px 10px;
    border-radius: 4px;
    margin: 0 5px;
}

.sensitivity-label {
    color: white;
    margin-right: 5px;
    font-size: 14px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

#textInput {
  width: 90%;
  margin: 0.3em 5%;
  padding: 0.7em;
  font-size: 0.7em;
  background-color: rgba(33, 33, 33, 0.7);
  border: 0.1em solid rgba(128, 128, 128, 0.5);
  border-radius: 0.3em;
  color: white;
  text-align: left;
  box-sizing: border-box;
}

#textInput:focus {
  outline: none;
  border-color: rgba(128, 128, 128, 0.8);
  background-color: rgba(33, 33, 33, 0.8);
}

.hidden {
    display: none;
}
